<div class="container">
  <div class="row">
      <div class="col-6">
          <table class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Channel</th>
                      <th scope="col">Seasons</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let serie of series">
                  <td>
                    <dd>{{serie.id}}</dd>
                  </td>
                  <td>
                    <dd>{{serie.name}}</dd>
                  </td>
                  <td>
                    <dd>{{serie.channel}}</dd>
                  </td>
                  <td>
                    <dd>{{serie.seasons}}</dd>
                  </td>
                </tr>
              </tbody>
          </table>
          <p>Seasons Average: {{ promedio }}</p>
      </div>
      <div class="col-6">
          <div class="card" id="card" style="display: none; width: 360px;">
              <img id="Serie_image" src="" class="card-img-top " alt="Image">
              <div class="card-body">
                  <h5 class="card-title" id="Serie_Name"></h5>
                  <p class="card-text fs-5" id="Serie_Description"></p>
                  <a href="" class="fs-5" id="Serie_Link"></a>
              </div>
          </div>
      </div>
      </div>
      
</div>